<app-menu></app-menu>

<!-- 
<div class="text-layout">
    <h1>{{ nombre | titlecase}}</h1>
    <h2>{{ valor | number}}</h2>
    <h2>{{ obj | json }}</h2>
</div>
<button pButton (click)="mostrarNombre()"
        label="Cambiar nombre"
        icon="pi pi-bell" iconPos="right"
        class="p-button-help">  
</button>
<p-card [header]="nombre | titlecase"
        subheader="Esto es un subheader">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa sed natus dignissimos commodi numquam vel deleniti quaerat, voluptatum voluptate eaque libero reiciendis laborum sit consequuntur doloribus molestias minus iste quia.</p>
</p-card>


-->
<router-outlet></router-outlet>